<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Model\Wysiwyg\Validator">
        <plugin name="Olegnax_Core_Plugin_Backend_Magento_Cms_Model_Wysiwyg_Validator"
                type="Olegnax\Core\Plugin\Backend\Magento\Cms\Model\Wysiwyg\Validator"
                sortOrder="10"
                disabled="false"/>
    </type>
    <type name="Magento\Config\Controller\Adminhtml\System\Config\Save">
        <plugin name="Olegnax_Core_Plugin_Magento_Config_Controller_Adminhtml_System_Config_Save"
                type="Olegnax\Core\Plugin\Magento\Config\Controller\Adminhtml\System\Config\Save"
                sortOrder="10"
                disabled="false"/>
    </type>
</config>
