<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Olegnax_Core::Olegnax_Core" title="Olegnax" module="Olegnax_Core" sortOrder="10"
			 resource="Olegnax_Core::Olegnax_Core"/>
		<add id="Olegnax_Core::Modules_Update" action="olegnax/modules/update" module="Olegnax_Core"
			 parent="Olegnax_Core::Olegnax_Core" resource="Olegnax_Core::Modules_Update" sortOrder="0"
			 title="Modules Info"/>
	</menu>
</config>